body {
    margin:0;
    padding:0;
    outline: none;
    background:#f3f3f3;
}

ul,li,p,h1,h2,h3 {
    padding:0;
    margin:0;
    list-style:none;
}

a {
    text-decoration: none;
}

.form {
    margin:15px;
}

.form-group {
    margin-bottom:10px;
    position:relative;
    padding-left:70px;
}

.form-group .control-label {
    display:block;
    width:70px;
    position:absolute;
    top:4px;
    left:0;
}

.form-button {

}

.form-control {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    display: block;
    height: 34px;
    padding: 0px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;outline: none;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

/* default-login */
.default-login {
    width:400px;
    margin:150px auto;
    background:#fff;
    padding:25px;
}

/* 菜单 */
.top-menu {
    background:#333333;
    font-size:14px;
    height:50px;
}

.top-menu ul {
    width:1080px;
    margin:0 auto;
    height:50px;
}
.top-menu ul li {
    height:50px;
    line-height:50px;
    display:inline-block;
    padding:0 15px 0 0;
}
.top-menu ul li a {
    color:#eeeeee;
}

.sub-menu {
    background:#FFF;
    border-bottom:#eee solid 1px;
}
.sub-menu ul {
    width:1080px;
    margin:0 auto;
    height:40px;
}
.sub-menu ul li {
    height:40px;
    line-height:40px;
    padding-right:15px;
}

.sub-menu ul li a {
    font-size:13px;
    color:#333;
}

.sub-menu ul li.active a {
    font-weight:bold;
}
