body {
    margin: 0;
    padding: 0;
    outline: none;
    background: #f3f3f3;
    font-family: STHeiti, 'WenQuanYi Micro Hei', SimSun, sans-serif;
}

ul, li, p, h1, h2, h3,p {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    width: 1030px;
    padding: 25px;
    background: #ffffff;
    margin: 15px auto 25px auto;
}

.container h1 {
    font-size:32px;
    margin-bottom:15px;
}

.container p {
    font-size:16px;
    color:#4d4d4d;
    margin-bottom:25px;
}

.form {
    margin: 15px;
}

.form-group {
    margin-bottom: 15px;
    position: relative;
    padding-left: 70px;
}

.form-group .control-label {
    display: block;
    width: 70px;
    position: absolute;
    top: 8px;
    font-size:14px;
    color:#4d4d4d;
    left: 0;
}

.form-button {

}

.help-block {
    font-size:14px;
    color:#666;
    margin-top:5px;
}

.form-control {
    display: block;
    height: 32px;
    padding: 0 10px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #444444;
    border: 1px solid #CCCCCC;
    outline: none;
    width:350px;
}

.form-control:hover {
    border-color:#999;
    background:#f9f9f9;
}

/* default-login */
.default-login {
    width: 400px;
    margin: 150px auto;
    background: #fff;
    padding: 25px;
}



/* 菜单 */
.top-menu {
    background:#007fff;
    font-size: 14px;
    height: 50px;
}

.top-menu ul {
    width: 1080px;
    margin: 0 auto;
    height: 50px;
}

.top-menu ul li {
    height: 50px;
    line-height: 50px;
    display: inline-block;
    padding: 0 25px 0 0;
}

.top-menu ul li a {
    color: #FFFFFF;
}

.sub-menu {
    margin-bottom: 10px;
    background: #323330;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .3)
}

.sub-menu ul {
    width: 1080px;
    margin: 0 auto
}

.sub-menu li {
    display: inline-block;
    border-left: 0;
    padding: 5px 0;
    border-bottom: #323330 solid 2px
}

.sub-menu li:first-child {
    border-radius: 0
}

.sub-menu li:last-child {
    border-radius: 0
}

.sub-menu li a {
    border-right: #000 solid 1px;
    display: inline-block;
    padding: 7px 15px 4px 15px;
    color: #007fff;
    text-align: center;
    text-decoration: none;
    font-size: 13px;

}

.sub-menu li.active {
    border-bottom-color: #fff
}

.sub-menu li.active a {
    color: #FFFFFF;
}

.table {
    font-size: 14px;
    margin-bottom: 10px;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #E1E6EB;
    color: #333333;
    margin-top: 15px;
    border-spacing: 0;
}

.table .h_a {
    border-top: 0 none;
}

.table th {
    padding: 10px;
    border: 1px solid #E1E6EB;
    background-color: #F5F6FA;
    color: #333333;
    text-align: left;
    font-weight: 700
}

.table th.center {
    text-align: center;
}

.table td {
    padding: 8px;
    color: #333333;
    border: 1px solid #E1E6EB;
    vertical-align: middle;
    line-height: 1.6;
    text-align: left;
    word-wrap: break-word;
    word-break: break-all;
}

.table td.center {
    text-align: center;
}

.table td a {
    display: inline;
    margin-left: 2px;
    margin-right: 2px;
    color: blue;
    border-bottom: blue solid 1px;
}

.table td a:hover {
    color: #000000;
    text-decoration: underline;
}

.table tr:nth-child(odd) {
    background-color: #FFF;
}

.table td.td-avatars {
}

.table td.td-avatars a {
    display: inline-block;
}

.table td.td-avatars a img {
    width: 32px;
    height: 32px;
    border-radius: 32px;
}

.table tr.tr-active td {
    font-weight: 700;
    color: #000000;
}

.table tr:nth-child(2n) {
    background-color: #f6f8fa;
}


/*!
 * artDialog v6.0.0
 * Date: 2013-12-13
 * (c) 2009-2013 TangBin, http://www.planeArt.cn
 *
 * This is licensed under the GNU LGPL, version 2.1 or later.
 * For details, see: http://www.gnu.org/licenses/lgpl-2.1.html
 */
.ui-dialog {
    position: relative;
    outline: 0;
    border: 2px solid #007fff;
    border-radius: 0px;
    background: #fff;
    background-clip: padding-box;
    color: #333;
    font-size: 12px;
    line-height: 1.428571429;
    opacity: 0;
    -webkit-transition: -webkit-transform .15s ease-in-out, opacity .15s ease-in-out;
    transition: transform .15s ease-in-out, opacity .15s ease-in-out;
    -webkit-transform: scale(0);
    transform: scale(0);
    *zoom: 1;
    _float: left;
}

.ui-popup-show .ui-dialog {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.ui-popup-focus .ui-dialog {
}

.ui-popup-modal .ui-dialog {
}

.ui-dialog-grid {
    margin: 0;
    width: auto;
    border: 0 none;
    border-collapse: collapse;
    background: transparent;
    border-spacing: 0;
}

.ui-dialog-header, .ui-dialog-body, .ui-dialog-footer {
    padding: 0;
    border: 0 none;
    background: transparent;
    text-align: left;
}

.ui-dialog-header {
    border-bottom: 1px solid #007fff;
    background: #007fff;

    white-space: nowrap;
    color: #FFFFFF;
}

.ui-dialog-close {
    position: relative;
    top: 5px;
    right: 13px;
    float: right;
    padding: 0 4px;
    border: 0;
    background: transparent;
    color: #000;
    text-shadow: 0 1px 0 #FFF;
    font-weight: normal;
    font-size: 32px;
    line-height: 1;
    opacity: 1;
    cursor: pointer;
    _position: absolute;
    _height: 26px;
    filter: alpha(opacity=100);
    _background: #FFF;
    -webkit-appearance: none;
}

.ui-dialog-close:hover, .ui-dialog-close:focus {
    outline: 0;
    color: #333333;
    text-decoration: none;
    cursor: pointer;
}

.ui-dialog-title {
    overflow: hidden;
    margin: 0;
    padding: 10px;
    min-height: 16.428571429px;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.428571429;
    cursor: default;
}

.ui-dialog-body {
    padding: 10px;
    text-align: center;
    font-size: 14px;
}

.ui-dialog-content {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    *zoom: 1;
    *display: inline;
}

.ui-dialog-footer {
    padding: 10px 20px;
}

.ui-dialog-statusbar {
    float: left;
    margin-right: 20px;
    padding: 6px 0;
    color: #888;
    white-space: nowrap;
    font-size: 12px;
    line-height: 1.428571429;
}

.ui-dialog-statusbar label:hover {
    color: #333;
}

.ui-dialog-statusbar input, .ui-dialog-statusbar .label {
    vertical-align: middle;
}

.ui-dialog-button {
    float: right;
    white-space: nowrap;
}

.ui-dialog-footer button + button {
    margin-bottom: 0;
    margin-left: 5px;
}

.ui-dialog-footer button {
    display: inline-block;
    overflow: visible;
    margin-bottom: 0;
    padding: 5px 12px;
    border: 0 solid transparent;
    border-radius: 0;
    background-image: none;
    vertical-align: middle;
    text-align: center;
    white-space: nowrap;
    font-weight: normal;
    font-size: 12px;
    font-family: 'Microsoft YaHei';
    line-height: 1.428571429;
    cursor: pointer;
    _margin-left: 5px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.ui-dialog-footer button:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.ui-dialog-footer button:hover, .ui-dialog-footer button:focus {
    color: #333;
    text-decoration: none;
}

.ui-dialog-footer button:active {
    outline: 0;
    background-image: none;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.ui-dialog-footer button[disabled] {
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
    cursor: not-allowed;
    pointer-events: none;
    filter: alpha(opacity=65);
}

.ui-dialog-footer button:hover, .ui-dialog-footer button:focus, .ui-dialog-footer button:active {
    background-color: #ebebeb;
    color: #333;
}

.ui-dialog-footer button:active {
    background-image: none;
}

.ui-dialog-footer button[disabled], .ui-dialog-footer button[disabled]:hover, .ui-dialog-footer button[disabled]:focus, .ui-dialog-footer button[disabled]:active {
    border-color: #ccc;
    background-color: #fff;
}

.ui-dialog-footer button.ui-dialog-autofocus {
    background-color: #007fff;
    color: #fff;
}

.ui-dialog-footer button.ui-dialog-autofocus:hover, .ui-dialog-footer button.ui-dialog-autofocus:focus, .ui-dialog-footer button.ui-dialog-autofocus:active {
    background-color: #007fff;
    color: #fff;
}

.ui-dialog-footer button.ui-dialog-autofocus:active {
    background-image: none;
}

.ui-popup-top-left .ui-dialog, .ui-popup-top .ui-dialog, .ui-popup-top-right .ui-dialog {
    top: -8px;
}

.ui-popup-bottom-left .ui-dialog, .ui-popup-bottom .ui-dialog, .ui-popup-bottom-right .ui-dialog {
    top: 8px;
}

.ui-popup-left-top .ui-dialog, .ui-popup-left .ui-dialog, .ui-popup-left-bottom .ui-dialog {
    left: -8px;
}

.ui-popup-right-top .ui-dialog, .ui-popup-right .ui-dialog, .ui-popup-right-bottom .ui-dialog {
    left: 8px;
}

.ui-dialog-arrow-a, .ui-dialog-arrow-b {
    position: absolute;
    display: block;
    overflow: hidden;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    _color: #ff3fff;
    _filter: chroma(color=#FF3FFF);
}

.ui-popup-top-left .ui-dialog-arrow-a, .ui-popup-top .ui-dialog-arrow-a, .ui-popup-top-right .ui-dialog-arrow-a {
    bottom: -8px;
    border-top: 8px solid #7c7c7c;
    border-right: 8px solid transparent;
    border-bottom: 0 none;
    border-left: 8px solid transparent;
}

.ui-popup-top-left .ui-dialog-arrow-b, .ui-popup-top .ui-dialog-arrow-b, .ui-popup-top-right .ui-dialog-arrow-b {
    bottom: -7px;
    border-top: 8px solid #fff;
    border-right: 8px solid transparent;
    border-bottom: 0 none;
    border-left: 8px solid transparent;
}

.ui-popup-top-left .ui-dialog-arrow-a, .ui-popup-top-left .ui-dialog-arrow-b {
    left: 15px;
}

.ui-popup-top .ui-dialog-arrow-a, .ui-popup-top .ui-dialog-arrow-b {
    left: 50%;
    margin-left: -8px;
}

.ui-popup-top-right .ui-dialog-arrow-a, .ui-popup-top-right .ui-dialog-arrow-b {
    right: 15px;
}

.ui-popup-bottom-left .ui-dialog-arrow-a, .ui-popup-bottom .ui-dialog-arrow-a, .ui-popup-bottom-right .ui-dialog-arrow-a {
    top: -8px;
    border-top: 0 none;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #7c7c7c;
    border-left: 8px solid transparent;
}

.ui-popup-bottom-left .ui-dialog-arrow-b, .ui-popup-bottom .ui-dialog-arrow-b, .ui-popup-bottom-right .ui-dialog-arrow-b {
    top: -7px;
    border-top: 0 none;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #fff;
    border-left: 8px solid transparent;
}

.ui-popup-bottom-left .ui-dialog-arrow-a, .ui-popup-bottom-left .ui-dialog-arrow-b {
    left: 15px;
}

.ui-popup-bottom .ui-dialog-arrow-a, .ui-popup-bottom .ui-dialog-arrow-b {
    left: 50%;
    margin-left: -8px;
}

.ui-popup-bottom-right .ui-dialog-arrow-a, .ui-popup-bottom-right .ui-dialog-arrow-b {
    right: 15px;
}

.ui-popup-left-top .ui-dialog-arrow-a, .ui-popup-left .ui-dialog-arrow-a, .ui-popup-left-bottom .ui-dialog-arrow-a {
    right: -8px;
    border-top: 8px solid transparent;
    border-right: 0 none;
    border-bottom: 8px solid transparent;
    border-left: 8px solid #7c7c7c;
}

.ui-popup-left-top .ui-dialog-arrow-b, .ui-popup-left .ui-dialog-arrow-b, .ui-popup-left-bottom .ui-dialog-arrow-b {
    right: -7px;
    border-top: 8px solid transparent;
    border-right: 0 none;
    border-bottom: 8px solid transparent;
    border-left: 8px solid #fff;
}

.ui-popup-left-top .ui-dialog-arrow-a, .ui-popup-left-top .ui-dialog-arrow-b {
    top: 15px;
}

.ui-popup-left .ui-dialog-arrow-a, .ui-popup-left .ui-dialog-arrow-b {
    top: 50%;
    margin-top: -8px;
}

.ui-popup-left-bottom .ui-dialog-arrow-a, .ui-popup-left-bottom .ui-dialog-arrow-b {
    bottom: 15px;
}

.ui-popup-right-top .ui-dialog-arrow-a, .ui-popup-right .ui-dialog-arrow-a, .ui-popup-right-bottom .ui-dialog-arrow-a {
    left: -8px;
    border-top: 8px solid transparent;
    border-right: 8px solid #7c7c7c;
    border-bottom: 8px solid transparent;
    border-left: 0 none;
}

.ui-popup-right-top .ui-dialog-arrow-b, .ui-popup-right .ui-dialog-arrow-b, .ui-popup-right-bottom .ui-dialog-arrow-b {
    left: -7px;
    border-top: 8px solid transparent;
    border-right: 8px solid #fff;
    border-bottom: 8px solid transparent;
    border-left: 0 none;
}

.ui-popup-right-top .ui-dialog-arrow-a, .ui-popup-right-top .ui-dialog-arrow-b {
    top: 15px;
}

.ui-popup-right .ui-dialog-arrow-a, .ui-popup-right .ui-dialog-arrow-b {
    top: 50%;
    margin-top: -8px;
}

.ui-popup-right-bottom .ui-dialog-arrow-a, .ui-popup-right-bottom .ui-dialog-arrow-b {
    bottom: 15px;
}

@-webkit-keyframes ui-dialog-loading {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes ui-dialog-loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.ui-dialog-loading {
    position: relative;
    top: 50%;
    display: block;
    overflow: hidden;
    margin: -16px auto 0 auto;
    width: 32px;
    height: 32px;
    color: #333;
    vertical-align: middle;
    text-indent: -999em;
    font-size: 0;
    *zoom: 1;
    *display: inline;
}

.ui-dialog-loading {
    width: 100% \9;
    text-align: center \9;
    text-indent: 0 \9;
    font-size: 12px \9;
    line-height: 32px \9;
}

.ui-dialog-loading::after {
    position: absolute;
    display: none \9;
    margin: 14.5px 0 0 14.5px;
    width: 3px;
    height: 3px;
    border-radius: 100%;
    box-shadow: 0 -10px 0 1px #ccc, 10px 0 #ccc, 0 10px #ccc, -10px 0 #ccc, -7px -7px 0 .5px #ccc, 7px -7px 0 1.5px #ccc, 7px 7px #ccc, -7px 7px #ccc;
    content: '';
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-animation: ui-dialog-loading 1.5s infinite linear;
    animation: ui-dialog-loading 1.5s infinite linear;
}
.dialog-message {border-color:#333333;opacity:1;border:0!important;font-family:"Microsoft YaHei";}
.dialog-message .ui-dialog-grid {border-color:#333333;}
.dialog-message .ui-dialog-grid .ui-dialog-body {font-size:12px;background:#333333;color:#ffffff;padding:15px 25px;border-radius: 5px;}

.hide {display:none;}
.summary {font-size:14px;color:#666666;}

.breadcrumb {
    list-style: none;
    font-size:14px;
    width:1050px;
    margin:0 auto;
    margin-top:15px;
}
.breadcrumb a {color:#4d4d4d;}
.breadcrumb li {display: inline-block;}
.breadcrumb li.active {font-weight: bold;}
.breadcrumb > li + li:before {
    padding: 0 5px;
    color: #ccc;
    content: "/\00a0";
}
