html,
body {
    height: 100%;
    background:#F5F5F5;
    margin:0;
}

.clear {
    clear: both;
    font-size:0;
    height:0;
}

.empty {
    padding:25px 0;
    text-align:center;
    color:#999999;
    font-size:14px;
}

ul,li,h1,h2,h3,h4,h5,h6,p {
    margin:0;
    padding:0;
    list-style:none;
}

a {
    color:#4d4d4d;
    text-decoration: none;
}

.site-index {
    display: -webkit-box;
    height: 100%;
}

.site-index .cart-box {
    width:300px;
    position:relative;
}
.site-index .cart-box h1 {
    background:#007fff;
    padding:10px;
    text-align:center;
    color:#FFF;
    font-size:16px;
}
.site-index .cart-box .total-money {
    position:absolute;
    width:270px;
    padding:0 15px;
    text-align:right;
    bottom:60px;
    line-height:40px;
    left:0;
    height:40px;
    background:#EEEEEE;
}
.site-index .cart-box .total-money strong {
    font-size:18px;
    color:#ff6600;
}
.site-index .cart-box .btns {
    position:absolute;
    width:300px;
    bottom:0;
    left:0;
    height:60px;
    background:#44b549;
}
.site-index .cart-box .btns li {
    height:60px;
    text-align:center;
    color:#FFF;
    line-height:60px;
}
.site-index .category-box {
    width:220px;
    background:#F2F2F2;
    padding:15px;
    box-shadow: 0px 0px 10px #999999;
    z-index:999;
}
.site-index .category-box ul {
    background:#FFFFFF;
    margin-bottom:15px;
}
.site-index .category-box ul li {

}
.site-index .category-box ul .title {
    background:#000;
    color:#FFFFFF;
    padding:10px;
}
.site-index .category-box ul .item {
    border-bottom:#f2f2f2 solid 1px;
    padding:10px;
    cursor:pointer;
    display:block;
}
.site-index .category-box ul .active {
    background: #fffdc3;
    color:#000000;
    font-weight:bold;
}

.site-index .dish-box {
    -webkit-box-flex:1;
}

.site-index .dish-box .dish {
    margin:15px 0 0 15px;
    background:#fff;
    border-radius:5px;
    padding:15px;
    float:left;
    width:200px;
}
.site-index .dish-box .dish:hover {
    background:#fffdc3;
    cursor:pointer;
}
.site-index .dish-box .dish .title {
    font-size:16px;
    font-weight:bold;
}
.site-index .dish-box .dish .price {
    font-family:'Arial';
    font-size:14px;
    color:#EF1F12;
}

.cart-items {}
.cart-items .dish-in-cart {
    margin:15px 15px 0 15px;
    background:#FFFFFF;
    padding:15px;
}

.cart-items .dish-in-cart .title {
    font-size:16px;
    font-weight:bold;
    padding-bottom:10px;
    border-bottom:#eee solid 1px;
    margin-bottom:10px;
}

.cart-items .dish-in-cart .title .item-total-price {
    float:right;
    color:#FF6600;
    font-style:italic;
    position: relative;
    font-weight:normal;
    top:2px;
}

.cart-items .dish-in-cart .quantity-box {
    text-align: center;
    line-height: 27px;
}
.cart-items .dish-in-cart .quantity-box input {
    width:60px;
    border:#000 solid 2px;
    border-radius:5px;
    padding:5px 0;
    margin:0 10px;
    font-size:18px;
    color:#000;
    font-weight:bold;
    text-align:center;
}
.cart-items .dish-in-cart .quantity-box i {
    cursor: pointer;
    font-size: 42px;
    font-weight: bold;
    font-style:normal;
    color: #008de1;
    position: relative;
    top: 8px;
    display:inline-block;
}


.order-pay {
    width:350px;
    margin:100px auto;
}